<div class="workout" style="--clr: #9191fd" title="Start Workout">
    <button type="button" class="remove-button hidden" style="--red: #b51204"><i class="fa fa-plus"></i></button>
    <div class="workout-contents">
    <a href="#" class="workout-title">{{title}}</a> <span class="workout-duration">{{totalDuration}}</span>
    </div>
</div>