@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200&family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200&family=Poppins:wght@200;300;400;500&family=Roboto+Slab:wght@200;300&display=swap');

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #36393f;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #7289da;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #0f1010;
  padding: 20px 20px; /* Increase the top and bottom padding for a thicker banner */
  text-align: center;
}

.site-title {
  margin: 0;
  font-size: 42px;
  color: #fff;
}

/* Main Content Styles */
.content {
  padding: 20px;
}

#workouts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.workout {
  position: relative;
  background-color: #292b2f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.workout:hover {
  background-color: #36393f;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #dc3545;
  color: #fff;
  transition: opacity 0.3s ease;
}

.remove-button:hover {
  opacity: 0.8;
}

.workout-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-title {
  font-size: 24px;
  font-weight: bold;
}

.workout-duration {
  font-size: 18px;
}

/* Quote Section Styles */
#quote {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #40444b;
  padding: 50px;
  text-align: center;
}

.quoteBlock {
  display: inline-block;
  background-color: #2c2f33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

#quote-text {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#quote-author {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------ */
/* Modal Styles */
.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Styles */
#add-workout-modal,
#do-workout-modal,
#exit-save-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: #f2f2f2;
  border: 2px solid #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
  color: #222;
}

.modal-hide-button {
  background-color: transparent;
  border: none;
  color: #222;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal-hide-button:hover {
  opacity: 0.8;
}

.modal-body {
  padding: 20px 0;
  color: #222;
}

.exercise-name-element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exercise-name-element label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-right: 10px;
}

#exercise-name {
  font-size: 16px;
  color: #222;
}

.time-remaining-element {
  display: flex;
  align-items: center;
}

.time-remaining-element label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-right: 10px;
}

#time-remaining {
  font-size: 16px;
  color: #222;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.modal-footer .action-button {
  background-color: #7289da;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer .action-button:hover {
  background-color: #677bc4;
}

/* ------------------------------------------------------------------------------------ */

#remove-workout-button{
  position:fixed;
  bottom: 20px;
  right: 70px;

  color: #fdfcfa;
  background-color: #b20e08;
  height: 55px;
  width: 55px;

  border-radius: 50%;
  border-width: 0px;
  transition: background-color 0.3s ease;

  font-size: 150%;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
 }

 #remove-workout-button i{
   transform: rotate(45deg);
   transform-origin: center;
 }

 #remove-workout-button:hover{

  bottom: 17px;
  right: 67px;

  height: 60px;
  width: 60px;
  font-size: 155%;

  cursor: pointer;

 }


 /* Bottom right orange button */
 #add-workout-button{
   position:fixed;
   bottom: 20px;
   right: 10px;
 
   color: #fdfcfa;
   background-color: #099710;
   height: 55px;
   width: 55px;
   transition: background-color 0.3s ease;
 
   border-radius: 50%;
   border-width: 0px;
 
   font-size: 150%;
 
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
   }
 
   #add-workout-button:hover{
 
   bottom: 17px;
   right: 7px;
 
   height: 60px;
   width: 60px;
   font-size: 175%;
 
   cursor: pointer;
 
   }

